[submodule "third_party/microtbx"]
	path = third_party/microtbx
	url = https://github.com/feaser/microtbx.git
[submodule "third_party/cmsis/core"]
	path = third_party/cmsis/core
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "third_party/cmsis/device/st/f0"]
	path = third_party/cmsis/device/st/f0
	url = https://github.com/STMicroelectronics/cmsis_device_f0.git
[submodule "third_party/hal/st/f0"]
	path = third_party/hal/st/f0
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
[submodule "third_party/microtbx-modbus"]
	path = third_party/microtbx-modbus
	url = https://github.com/feaser/microtbx-modbus.git
[submodule "third_party/freertos"]
	path = third_party/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
